@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
/* Color Palate*/
:root {
  --primary-color: #3c8599;
  --secondary-color: #212121;
  --text-color: #212121;
  --black-theme-color: #171717;
  --accent-color: #ffb614;
  --light-theme: #ffffff;
  --dark-theme: #000000;
  --light-text: #ffffff;
  --border-color: #e8e8e8;
  --text-gray-color: #696868;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background: #e6e6e6;
}

header .tp-notification-bar {
  background: var(--black-theme-color);
  padding: 13px 0;
  text-align: center;
}
header .tp-notification-bar p {
  color: var(--light-text);
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
header .tp-notification-bar p span {
  color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
}
header nav {
  display: flex;
  background: var(--light-theme);
}
header .tp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .tp-logo {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color);
}
header ul.tp-menus {
  margin: 0;
  padding: 0;
}
header ul.tp-menus li {
  list-style: none;
  display: inline-block;
  margin: 0 28px;
  position: relative;
}
header ul.tp-menus li.has-dropdown:after {
  content: "+";
}
header ul.tp-menus li a {
  display: inline-block;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  padding: 43px 0;
  transition: 0.2s;
}
header ul.tp-menus li:hover > a {
  color: var(--primary-color);
}
header ul.tp-menus li ul.tp-submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--dark-theme);
  width: 220px;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease;
}
header ul.tp-menus li ul.tp-submenu li {
  display: block;
  margin: 0;
}
header ul.tp-menus li ul.tp-submenu li a {
  display: block;
  color: var(--light-text);
  padding: 10px 20px;
}
header ul.tp-menus li ul.tp-submenu li:hover > a {
  background: var(--primary-color);
}
header ul.tp-menus li:hover > .tp-submenu {
  top: 80%;
  visibility: visible;
  opacity: 1;
}
header .tp-header-ecommerce-item {
  display: flex;
  align-items: center;
}
header .tp-header-ecommerce-item .tp-btn {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 14px;
  margin-left: 20px;
}
header .tp-btn-primary {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--light-text);
  background: var(--primary-color);
  padding: 14px 38px;
  margin-left: 20px;
}

.tp-slider {
  background: #c5bfbf;
}
.tp-slider .tp-slider-item {
  min-height: 810px;
  display: flex;
  align-items: center;
}
.tp-slider .tp-slider-content > span {
  color: var(--light-text);
  background: var(--primary-color);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 7px 10px;
  display: inline-block;
}
.tp-slider .tp-slider-content h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  margin-top: 20px;
}
.tp-slider p {
  color: var(--text-gray-color);
  font-size: 18px;
  font-weight: 400;
  margin-top: 18px;
}
.tp-slider .tp-slider-btn-box .tp-slider-install {
  font-size: 48px;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
