@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
/* Color Palate*/
:root {
  --primary-color: #3c8599;
  --secondary-color: #212121;
  --text-color: #212121;
  --black-theme-color: #171717;
  --accent-color: #ffb614;
  --light-theme: #ffffff;
  --dark-theme: #000000;
  --light-text: #ffffff;
  --border-color: #e8e8e8;
  --text-gray-color: #696868;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background: #e6e6e6;
}
header {
  .tp-notification-bar {
    background: var(--black-theme-color);
    padding: 13px 0;
    text-align: center;

    & p {
      color: var(--light-text);
      font-size: 16px;
      font-weight: 400;
      margin: 0;

      & span {
        color: var(--accent-color);
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
  nav {
    display: flex;
    background: var(--light-theme);
  }
  .tp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tp-logo {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
  }
  ul.tp-menus {
    margin: 0;
    padding: 0;

    & li {
      list-style: none;
      display: inline-block;
      margin: 0 28px;
      position: relative;
      &.has-dropdown:after {
        content: "+";
      }
      & a {
        display: inline-block;
        color: var(--text-color);
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        text-transform: capitalize;
        padding: 43px 0;
        transition: 0.2s;
      }
      &:hover > {
        & a {
          color: var(--primary-color);
        }
      }
      ul.tp-submenu {
        position: absolute;
        top: 100%;
        left: 0;
        background: var(--dark-theme);
        width: 220px;
        border-radius: 5px;
        margin: 0;
        padding: 0;
        visibility: hidden;
        opacity: 0;
        transition: 0.2s ease;

        & li {
          display: block;
          margin: 0;

          & a {
            display: block;
            color: var(--light-text);
            padding: 10px 20px;
          }
          &:hover > {
            & a {
              background: var(--primary-color);
            }
          }
        }
      }
      &:hover > {
        .tp-submenu {
          top: 80%;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  .tp-header-ecommerce-item {
    display: flex;
    align-items: center;

    .tp-btn {
      font-size: 14px;
      font-weight: 500;
      color: var(--text-color);
      border: 1px solid var(--border-color);
      padding: 14px;
      margin-left: 20px;
    }
  }
  .tp-btn-primary {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--light-text);
    background: var(--primary-color);
    padding: 14px 38px;
    margin-left: 20px;
  }
}
// Start Slider Area

.tp-slider {
  background: #c5bfbf;

  & .tp-slider-item {
    min-height: 810px;
    display: flex;
    align-items: center;
  }
  .tp-slider-content {
    & > span {
      color: var(--light-text);
      background: var(--primary-color);
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 7px 10px;
      display: inline-block;
    }
    h1 {
      font-size: 80px;
      font-weight: 700;
      line-height: 1;
      margin: 0;
      margin-top: 20px;
    }
  }
  & p {
    color: var(--text-gray-color);
    font-size: 18px;
    font-weight: 400;
    margin-top: 18px;
  }
  & .tp-slider-btn-box {
    & .tp-slider-install {
      font-size: 48px;
      font-weight: 700;
    }
  }
}
